table {
  margin:4em auto;
  border-collapse: collapse;
}

td {
  padding: -2px;
  height:50px;
  width:50px;
  border:1px solid;
  text-align:center;
}

.input-mode-button {
  width: 100px;
  height: 30px;
  margin: 5px;
}

.input-mode-button.selected {
  background-color: lightseagreen;
}


.table-drag-select td.cell-fixed-value {
  font-weight: bold;
  font-size: 18px;
}

.table-drag-select td.cell-selected {
  background-color: rgb(231, 255, 93);
}

.table-drag-select td.cell-being-selected {
  background-color: rgb(231, 255, 93);
}