.game-controls {
  display: flex;
  justify-content: center;
}

.input-mode-button {
  width: 100px;
  height: 30px;
  margin: 5px;
}

.input-mode-button.selected {
  background-color: lightseagreen;
}

.input-controls {
  margin: 5px;
}

.input-control-button {
  height: 30px;
  width: 30px;
}

.container {
  text-align: center;
}

.grid {
  margin:4em auto;
  display: inline-block;
  position: relative;
}

.galaxy {
  position: absolute;
  background-color: white;
  border: 1px solid;
  border-radius: 22px;
  width: 22px;
  height: 22px;
  margin: -11px;
}

table {
  border-collapse: collapse;
}

td {
  height:50px;
  width:50px;
  border:1px solid;
}

.table-drag-select td .cell-fixed-value {
  font-weight: bold;
  font-size: 35px;
}

.table-drag-select td.cell-selected {
  background-color: rgb(255, 255, 0) !important;
}

.table-drag-select td.cell-being-selected {
  background-color: rgb(255, 255, 0) !important;
}

.table-drag-select td div {
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  margin-left: -1px;

  text-align:center;
  line-height: 46px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.color0 {
  background-color: rgba(0,0,0,0.6);
}

.color1 {
  background-color: rgba(180, 180, 180, 0.6);
}

.color2 {
  background-color: rgba(255,0,0,0.6);
}

.color3 {
  background-color: rgba(248, 143, 6, 0.6);
}

.color4 {
  background-color: rgba(253, 253, 14, 0.6);
}

.color5 {
  background-color: rgba(72, 255, 0, 0.6);
}

.color6 {
  background-color: rgba(0, 255, 255, 0.6);
}

.color7 {
  background-color: rgba(0, 17, 248, 0.6);
}

.color8 {
  background-color: rgba(87, 1, 148, 0.6);
}

.color9 {
  background-color: rgba(238, 130, 180, 0.6);
}